@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hubballi&family=Inspiration&display=swap');
/* font-family: 'Bebas Neue', cursive;
font-family: 'Hubballi', cursive;
font-family: 'Inspiration', cursive; */
* {
    box-sizing: border-box;
}
body{
    font-family: 'Bebas Neue', cursive;
    background-color: beige;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
    color: purple;
}

.brand-title {
    font-size: 2rem;
    margin: 0.5rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: purple;
    padding: 1rem;
    display: block;
    /* may need to remove this below: */
    font-size: 1.2rem;
}

.navbar-links li:hover {
    background-color: pink;
}
.toggle-button {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: purple;
    border-radius: 10px;
}

@media only screen and (max-width: 560px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: 0.5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

header{
    background-color: purple;
    color: yellow;
    padding: 20px;
    font-size: 200%;
    text-align: center;
/*     border: 20pt;
    border-color: pink; */
}

.rubberduckieheader{
    width: 10%;
    float: right;
    
}

.post{

}

.postTitle{}
.theStory{}
.gifInsert{}
.comment{
    
}


footer{
    background-color: grey;
}
